---
layout: default
---

<div class="home">
  <!-- HOMEPAGE HEADER -->

  <!-- Define a function to set cookies -->
  <script>
  function set_cookie ( cookie_name, cookie_value, lifespan_in_days, valid_domain )
  {
    var domain_string = valid_domain ? ("; domain=" + valid_domain) : '' ;
    document.cookie = cookie_name + "=" + encodeURIComponent( cookie_value ) +
        "; max-age=" + 60 * 60 * 24 * lifespan_in_days +
        "; path=/" + domain_string ;
  }
  </script>

  <div class="clearfix home-header-wrap" {% if site.background-image %}style="background-image: url('{{ site.background-image }}')"{% endif %}>

    {% if site.background-image %}<div class="onionskin absolute"></div>{% endif %}

    <div class="clearfix home-header container relative">

      <!-- SUBTITLE -->
      <div class="row">
        <div class="col-md-12">
          <h1 class="mt-0 mb-0 {% if site.background-image %}text-white{% endif %}">{{ site.subtitle | escape }}</h1>
        </div>
      </div>

      {% if page.content %}
        <div class="spacer clearfix visible-sm-up"></div>
        {{ content }}
      {% endif %}

    </div><!-- END HOME HEADER -->
  </div><!-- END HOME HEADER WRAP -->

  <!-- HOMEPAGE BODY -->
  <div class="container">

      <div class="hidden-sm-up">
        <a href="/become-a-member.html" class="btn btn-danger btn-block">
        	<strong>Become a Member</strong>
				</a>
      </div>
			<div class="row">
				<div class="col-sm-12">
 				 <p><strong>Indivisible MN03</strong> is a grass roots, constituent-led, all-volunteer group of people from across the political spectrum. We were inspired by the national Indivisible movement, which uses constituent power to influence legislators around the country and hold each Member of Congress accountable.</p>
         <p>The national Indivisible movement was founded after the 2016 election to oppose the:
          <ul>
            <li>Trump Agenda</li>
            <li>Degradation of truth</li>
            <li>Rise of authoritarianism</li>
          </ul>
          </p>
          <p>Indivisible MN03 resists the Trump Agenda by pressuring our member of Congress to support inclusion, tolerance, fairness, and equality, and to stand up against corruption and authoritarianism.</p>
          <p>Now, after the 2018 mid-term election, Indivisible MN03 is expanding its focus to encompass our <strong>2020 Vision</strong>:</p>
          <p><strong>Legislative Outreach:</strong></p>
          <p>In the 116th Congress, Indivisible MN03 will continue to press our Representative in Congress to vote in ways consistent with our values through the following actions, such as:
            <ul>
              <li>Contact Dean Phillip’s office to ask that he support or oppose certain legislation.</li>
              <li>Follow or suggest legislation, ask questions, and express concerns and/or thanks.</li>
              <li>Hold rallies related to pressing issues of the day and seek press coverage of these events.</li>
            </ul>
          </p>
          <p><strong>Community Outreach and Relationship Building:</strong></p>
          <p>One troubling aspect of Trump’s agenda is his desire to stoke fear and sow division among people, particularly through his use of hateful us-v-them language. In order to counter this, we will engage in activities to build relationships within our community. We will host educational forums which support inclusion, tolerance, democratic values, good governance, rule of law, etc.</p>
          <p>We will participate in events that allow us to have meaningful interactions with community members, especially with those from traditionally underrepresented groups.</p>
          <p><strong>Election Outreach:</strong></p>
          <p>Looking to the 2020 election, Indivisible MN03 will use the Indivisible VAN (Voter Activation Network) to build our base of supporters. We will be conducting regular phone and text banking through the winter with issue based door-knocking during the spring and summer.</p>
          <p>We encourage Indivisible MN03 members to run for office or participate at any level. This may include:
            <ul>
              <li>MN House or Senate</li>
              <li>Local city or county government positions</li>
              <li>Boards or commissions, including park boards, elections boards, and school boards</li>
              <li>Leadership positions within a political party</li>
            </ul>
          </p>    
          <p>The principles of Indivisible National are outlined in the <a href="https://www.indivisible.org">Indivisible Guide</a>.</p>
          <p>Get involved!
            <ul>
              <li>Sign up to receive our <a href="become-a-member.html">newsletter</a> and find out about resistance events.</li>
              <li>Purchase Indivisible MN03 swag from our <a href="https://www.etsy.com/shop/IndivisibleMN03">Etsy store</a>.</li>
            </ul>
          </p>
					<hr/>
				</div>
   	  </div>
    	<div class="row">
    		<div class="col-sm-12">
					<h3 class="text-center">WE WANT OUR REPRESENTATIVE TO:</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6">
          <a href="/townhall.html">
					     <img class="mx-auto d-block" src="uploads\town_hall_button.png"/>
          </a>
				</div>
				<div class="col-sm-12 col-md-6">
          <a href="https://projects.fivethirtyeight.com/congress-trump-score/dean-phillips/">
					       <img class="mx-auto d-block" src="uploads\trump_button.png"/>
          </a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 vertical-center-parent">
					<h4 class="text-center vertical-center-child-md">Constituents Deserve to be Heard!</h4>
				</div>
				<div class="col-sm-12 col-md-6 text-center">
					<strong>Call Representative Dean Phillips:</strong><br>
					District Office: (952) 563-4593<br>
					DC Office: (202) 225-2871
				</div>
			</div>
      <!-- SUCCESSES AND MEMBER COUNT -->
      <div class="row">
				<div class="col-sm-12 hidden-xs-down text-center">
				  	<hr/>
					</div>
			</div>
     {% if site.successes %}
			<div class="row">
        <!-- SUCCESSES -->
        <div class="col-sm-12">
					<h5>Media Attention</h5>
				</div>
			</div>
			<div class="row">
				{% assign groups = site.successes|group_by_exp:"s","s['is featured']"|reverse %}
				{% for group in groups %}
					{% for success in group.items %}
						<div class="col-sm-12 col-md-6">
							{% include success-blurb.html %}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-sm-12 pagination">
					<a href="/successes.html" class="btn btn-link btn-flush ml-auto">More Media Attention &rarr;</a>
				</div>
			</div><!-- END TEAM MEDIA -->
		  {% endif %}
    </div>
  </div>
</div>
