---
layout: default
---

<div class="home">

  <!-- HOMEPAGE HEADER -->
  <div class="clearfix home-header-wrap" {% if site.background-image %}style="background-image: url('{{ site.background-image }}')"{% endif %}>

    {% if site.background-image %}<div class="onionskin absolute"></div>{% endif %}

    <div class="clearfix home-header container relative">

      <!-- SUBTITLE -->
      <div class="row">
        <div class="col-md-12">
          <h1 class="mt-0 mb-0 {% if site.background-image %}text-white{% endif %}">{{ site.subtitle | escape }}</h1>
        </div>
      </div>

      {% if page.content %}
        <div class="spacer clearfix visible-sm-up"></div>
        {{ content }}
      {% endif %}

    </div><!-- END HOME HEADER -->
  </div><!-- END HOME HEADER WRAP -->

  <!-- HOMEPAGE BODY -->
  <div class="container">

      <div class="hidden-sm-up mt-3 mb-3">
        <a href="/become-a-member.html" class="btn btn-danger btn-block"><strong>Become a Member</strong></a>
        {% if site.member-count %}
        <hr>
        <h5 class="d-flex"><span class="mt-1"><strong>{{ site.member-count }} Members</strong></span> <a href="mailto:?subject=Join {{ site.title | escape }}&body=Join {{ site.url }} today!" class="btn btn-sm ml-auto btn-primary"><strong>Invite Members</strong></a></h5>
        {% endif %}
      </div>

    <div class="row">

      <div class="col-sm-8">
        <h3>WE WANT A REPRESENTATIVE WHO:</h3>
        <!-- Static Content -->
        <div class="col-sm-3">
          <img src="uploads\Petition-Hand-off-with-title.jpg"/>
        </div>
        <div class="col-sm-3">
          <img src="uploads\standagainsttrump-with-title.jpg"/>
        </div>
      </div>
    <!--</div> MOVE AFTER right col-->

        <div class="spacer clearfix"></div>
        <div class="spacer clearfix"></div>

      <!--</div> MOVED TO END -->

      <!-- SUCCESSES AND MEMBER COUNT -->
      <div class="col-sm-4">

        <!-- MEMBER COUNT AND INVITE MEMBERS BUTTON -->
        <div class="hidden-xs-down">
          <hr class="mt-0 mb-4">
          {% if site.member-count %}<h5 class="d-flex"><span class="mt-1">{{ site.member-count }} Members</span> {% endif %}<a href="mailto:?subject=Join {{ site.title | escape }}&body=Join {{ site.url }} today!" class="btn btn-sm ml-auto btn-primary"><strong>Invite Members</strong></a></h5>
        </div>

        <!-- SUCCESSES -->
        {% if site.successes %}
          <!-- <div class="spacer"></div> -->
          <hr class="mt-4 mb-3">
          <h5 class="mb-2">Successes</h5>

          {% assign featured_successes = (site.successes|where_exp:"successes","successes['is featured'] == true") %}
          {% assign not_featured_successes = (site.successes|where_exp:"successes","successes['is featured'] == false") %}

          {% for successes in featured_successes %}
            <span class="badge badge-danger mb-2">PINNED</span>
            {% include success-blurb.html %}
          {% endfor %}

          {% for successes in not_featured_successes %}
            {% include success-blurb.html %}
          {% endfor %}

          <div class="pagination">
            <a href="/successes.html" class="btn btn-link btn-flush ml-auto">More successes &rarr;</a>
          </div>

        {% endif %}

      </div><!-- END TEAM MEDIA -->

    </div>
  </div>

  <div class="spacer clearfix"></div>
  <div class="spacer clearfix"></div>

</div>
