---
layout: default
---

<!-- HOMEPAGE BODY -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
			<script type="text/javascript">
				function resizeToFit(iframe) {
					var nodes = iframe.contentDocument.querySelectorAll("#header, #footer");
					for(var i = 0; i < nodes.length; i++)
						nodes[i].style.display = 'none';
						
					iframe.style.height = (iframe.contentWindow.document.body.scrollHeight + 20) + 'px';
				}
			</script>
            <iframe src="googleDoc.html" style="width: 100%; border: none; height: 100vh;" scrolling="no" onload="resizeToFit(this)"></iframe>
        </div>
    </div>
</div>
